html {
    background-color:white;
}

#header {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: peachpuff;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
    margin-bottom: 20px;
}

h1 {
   text-align: center;
   color: black;
   font-family:'Lucida Grande';
   font-weight: bolder;
   outline-color: blue;
}

p {
    text-align: center;
    font-family:'Lucida Grande';
    color: black;
    font-weight: bold;
}

#animalDetails {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    padding-left: 10px;
    padding-right: 10px;
}

#animalCard {
    max-width: 300px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 8px;
    padding-bottom: 20px;
    background-color: peachpuff;
    border-style:solid;
    border-color: rgb(230, 168, 114);
    border-width: 32px;
}

h2 {
    font-size: large;
    font-family:'Lucida Grande';
}

img {
    max-width: 300px;
    margin-bottom: 10px;
}

.container {
    display: flex;
    align-content: center;
    height: 40px;
    position: relative;

}

.verticalCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

li {
    list-style: none;
    font-family:'Lucida Grande';
}

form {
    padding-top: 15px;
    font-family:'Lucida Grande';
    font-weight: bold;
}

