#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    width: 600px;
}

p {
    text-align: center;
}

#animalDetails {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    padding-left: 10px;
    padding-right: 10px;
}

#animalCard {
    max-width: 300px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    background-color: peachpuff;
    border-style:solid;
    border-color:rgb(198, 142, 94);
    border-width: 4px;
}

img {
    max-width: 300px;
}

.container {
    display: flex;
    align-content: center;
    height: 40px;
    position: relative;

}

.verticalCenter {
    margin-top: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

